.category {
    .header {
        display: flex;
        align-items: center;

        .collapse-icon {
            font-size: 2.2em;
            opacity: .25;
            cursor: pointer;
            transition: transform .2s;
        }

        .rotated {
            transform: rotate(90deg);
            transition: transform .2s;
        }

        h5 {
            cursor: pointer;
        }
        font-family: 'Roboto';
    }

    .chores {
        display: flex;
        gap: 8px;
    }

    margin-bottom: 1em;
}