.chore-card {
    max-width: 20em;
    min-width: 8em;
    p {
        font-size: .9em !important;
        user-select: none;
        cursor: pointer;
        font-family: "Work Sans", sans-serif;
    }

    .inactive {
        display: flex;
        justify-content: flex-end;
    }

    .active {
        display: flex;
        justify-content: space-between;

    }

    .actions {
        .mirror {
            transform: scaleX(-1);
        }
    
        .icon {
            cursor: pointer;
            opacity: .25;
            color: #11998e !important;
    
            &:hover {
                opacity: 1;
            }
        }
    
        .prg {
            width: 80px;
        }
    }

}