body {
  height: 100%;
  padding: 0 5em;
  background: linear-gradient(to bottom, #c6d3ec, #cdd3dd);
}

#root {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.App {
  .addChore {
    position: absolute;
    top: 1em;
    left: 1em;
  }
}
